%rubic-300 {
  font-family: 'Rubik-Italic', sans-serif;
  font-weight: 300;
}

%rubic-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubic-600 {
font-family: 'Rubik-Medium', sans-serif;
font-weight: 600;
}

%rubic-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}