@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'libs';
@import 'global';



.hero-section {

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    max-width: 560px;
    width: 100%;
    height: 660px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &--stay-home {
      max-width: 440px;
      height: 585px;
      margin-left: 70px;
    }

    &--mob-app {
      max-width: 570px;
      height: 380px;
    }
  }

  &__box {
    max-width: 450px;
    width: 100%;
  }

  &__title {
    font-weight: 500;
    font-size: 66px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__subtitle {
    color: $accent-color;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__items:not(:last-child) {
    margin-right: 34px;
  }

  &__link1 {
    display: inline-block;
    margin-right: 34px;
  }

  &__link {
    transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
    }

    &:hover {
      color: $accent-color;
    }

    &:active {
      color: $default-color;
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }
  }

}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;

  &__box {
    margin: 0 55px 0 auto;
  }

  &__list {
    display: flex;
  }

  &__item {
    line-height: 18px;

    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 21px;
    transition: box-shadow 0.4s, text-shadow 0.4s, color 0.4s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
    }

    &:hover {
      color: $accent-color;
    }

    &:active {
      color: $default-color;
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }

    &--active {
      color: $accent-color;
    }
  }

}

.logo {
  display: inline-block;
  transition: box-shadow 0.4s, opacity 0.3s ease-in-out;

  &:focus {
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    border-radius: 5px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  &__img--header {
    margin-left: 5px;
  }
}

.user-nav {
  display: flex;
  margin-right: 5px;

  &__item:not(:last-child) {
    margin-right: 13px;
  }

  &__btn {
    position: relative;
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
    padding: 10px 10px 5px;
    transition: box-shadow 0.3s, opacity 0.2s, background-color 0.3s, fill 0.3s, stroke 0.3s ease-in-out;

    &:hover {
      background-color: #FF7A50;
      border-radius: 5px;

      svg {
        fill: $accent-color;
        stroke: $fill-color;
      }

      &:hover {
        .user-nav__num {
          background-color: $fill-color;
          color: $accent-color;
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:active {
      background-color: #FFF2ED;
      border: none;
    }
  }

  &__num {
    position: absolute;
    padding: 0 4px;
    border-radius: 20px;
    background-color: $accent-color;
    font-size: 10px;
    color: $fill-color;
    text-align: center;
    line-height: 1.4;
    left: 26px;
    top: 4px;
  }

  &__img {
    fill: $fill-color;
    stroke: $title-color;

    &--search {
      width: 18.76px;
      height: 19px;
    }

    &--cart {
      width: 18.5px;
      height: 17.83px;
    }
  }
}

.top-categories {

  text-align: center;

  &__filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 50px 45px 0;
  }

  &__items:not(:last-child) {
    margin-right: 20px;
  }

  &__menu {
    background-color: $fill-color;
    box-shadow: 0 0 0 1px $boxshadow-color;
    border-radius: 5px;
    border: 1px solid transparent;
    border-color: transparent;
    cursor: pointer;
    padding: 11px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3s linear, background-color 0.3s, stroke 0.3s, fill 0.3s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      color: $accent-color;

      svg {
        fill: $accent-color;
        stroke: $accent-color;
      }
    }

    &:active {
      box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);
      background-color: $fill-color;
      color: $title-color;

      svg {
        fill: $title-color;
        stroke: $title-color;
      }
    }
  }

  .mixitup-control-active {
    background-color: $accent-color;
    color: $fill-color;

    svg {
      stroke: $fill-color;
      fill: $fill-color;
    }

  }

  &__img {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    &--sets {
      width: 44px;
      height: 43.49px;
    }
  }

  &__products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -30px 30px 0;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__btn {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    line-height: 1.5;
    transition: box-shadow 0.4s, color 0.4s, text-shadow 0.4s ease-in-out;

    &:hover {
      color: $accent-color;
      text-decoration: transparent;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      border-radius: 5px;
    }

    &:active {
      color: $default-color;
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
      text-decoration: transparent;
    }
  }

}

.product {

  &__card {
    width: 210px;
    height: 100%;
    background-color: $fill-color;
    box-shadow: 0 0 0 1px $boxshadow-color;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    transition: box-shadow 0.3s;
    margin-right: 30px;

    &:hover {
      box-shadow: 0 0 0 1px $accent-color;
      border-radius: 5px;
    }
  }

  &__cardname {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    margin: 10px 0;
    text-align: center;
  }

  &__cardprice {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    margin: auto 0 10px;
  }

  &__btn {
    font-size: 14px;
    padding: 5px 14px;
  }
}

.stay-home {
  padding: 60px 0 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box {
    max-width: 470px;
    width: 100%;
    margin-right: 70px;
  }

  &__text {
    margin-bottom: 30px;
    line-height: 1.5;
  }

  &__item {
    background-repeat: no-repeat;
    background-position: left;
    background-size: 34px;
    padding-left: 65px;
    margin-bottom: 20px;

    &--timer {
      background-image: url('../images/svg/Timer_icon.svg');
    }

    &--delivery {
      background-image: url('../images/svg/Delivery_icon.svg');
    }

    &--restaurant {
      margin-bottom: 40px;
      background-image: url('../images/svg/Restaurant_icon.svg');
    }

  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: $title-color;
  }

  &__link {
    margin-top: 10px;
  }
}

.top-restaurants {
  text-align: center;

  &__title {
    margin: 60px 20px 45px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px -30px 0;
  }

  &__item {
    margin: 0 30px 30px 0;
  }

  &__card {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    width: 100%;
    background-color: $fill-color;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 3px 15px rgba(255, 104, 56, 0.5);
    }
  }

  &__text {
    padding: 15px 20px 20px;
    text-align: left;
  }

  &__name {
    font-weight: 400;
    margin-bottom: 21px;
  }

  &__time {
    font-weight: 300;
    font-size: 18px;
    padding-left: 30px;
    background-image: url('../images/svg/timer.svg');
    background-repeat: no-repeat;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow {
    padding: 4px 32px;
    border-radius: 20px;
    transition: fill 0.8s ease, transform 0.8s;

    svg {
      width: 14px;
      height: 12.01px;
      fill: $fill-color;
    }

    &:focus {
      background-color: #FFF2ED;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      border-radius: 20px;

      svg {
        fill: $accent-color;
      }
    }

    &:hover {

      svg {
        fill: $accent-color;
        transform: translateX(20px);
      }
    }

    &:active {
      background-color: #FFF2ED;
      border-radius: 20px;

      svg {
        transform: translateX(0);
      }
    }

  }
}

.reviews {
  text-align: center;

  &__img {
    border-radius: 50%;
    margin-right: 40px;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
  }

  &__box {
    max-width: 650px;
    width: 100%;
    text-align: left;
    padding-left: 40px;
  }

  &__blockquote {
    position: relative;
    font-style: italic;
    margin-bottom: 30px;
    line-height: 1.5;
    max-width: 570px;
    width: 100%;

    &::before {
      content: " ";
      background-image: url('../images/“.jpg');
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: -40px;
      width: 24px;
      height: 19.22px;
    }

    &::after {
      content: " ";
      background-image: url('../images/“2.jpg');
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0;
      right: -40px;
      width: 24px;
      height: 19.22px;
    }
  }

  &__name {
    font-weight: 500;
    color: $accent-color;
    margin-bottom: 15px;
  }

  &__comment {
    font-size: 14px;
  }

  .slider {
    position: relative;
  }

  &__slick {
    position: absolute;
    padding: 0;
    z-index: 10;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid $dots-color;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 0.2s, outline 0.2s, border 0.2s ease-in-out;

    // .slick-active button {             *не работает
    //   background-color: $fill-color;
    //   border: 3px solid $accent-color;

    //   svg {
    //     fill: $accent-color;
    //     stroke: $accent-color;
    //   }
    // }

    &--prev {
      left: 40%;
      transform: translateX(4px);
      bottom: -13px;
    }

    &--next {
      right: 40%;
      transform: rotate(180deg);
      transform: translateX(-5px);
    }

    &:focus {
      border: 3px solid $dots-color;
      outline: 3px solid $accent-color;
    }

    &:hover {
      background-color: #FFF2ED;
      border-color: $active-color;

      svg {
        fill: $active-color;
        stroke: $active-color;
      }
    }

    &:active {
      background-color: #FFF2ED;
      border: transparent;

      svg {
        fill: $accent-color;
        stroke: $accent-color;
      }
    }

  }

  &__arrow {
    fill: $dots-color;
    stroke: $dots-color;
    width: 18.5px;
    height: 17.83px;

    &--next {
      transform: rotate(180deg);
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-right: 15px;

    .slick-active button {
      background-color: $accent-color;
    }

    li {
      margin-left: 15px;

      button {
        padding: 5px;
        font-size: 0;
        background-color: $dots-color;
        border-radius: 50%;
        border: 3px solid transparent;
        transition: background-color 0.3s, border 0.2s ease-in-out;

        &:focus {
          border: 3px solid $accent-color;
        }

        &:hover {
          background-color: #FFF2ED;
          border: 3px solid $active-color;
        }

        &:active {
          background-color: $active-color;
        }
      }
    }
  }
}

.mob-app {

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
  }

  &__box {
    max-width: 540px;
    width: 100%;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.shop {

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    display: flex;
  }

  &__filters {
    width: 271px;
    margin-right: 20px;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  &__item {
    margin: 0 0 10px 10px;
  }

  .product__card {
    margin-right: 0;
  }

  &__sort {
    margin-right: 15px;
  }

  .jq-selectbox__select {
    padding: 7px 41px 0 15px;
    border: 1px solid $dots-color;
    border-radius: 3px;
    background: $fill-color;
    box-shadow: none;
    font-family: 'Rubik';
    line-height: 1.2;
    color: $default-color;
    text-shadow: none;
    transition: border 0.2s, color 0.2s ease-in-out;

    &:hover {
      border: 1px solid $accent-color;
      color: $accent-color;
    }

    &:hover {
      .jq-selectbox__trigger-arrow {
        filter: invert(58%) sepia(82%) saturate(3380%) hue-rotate(336deg) brightness(100%) contrast(101%);
      }
    }
  }

  .jq-selectbox li.selected,
  .jq-selectbox li:hover {
    background-color: $active-color;
  }

  .jq-selectbox.focused .jq-selectbox__select {
    border: 1px solid $accent-color;
  }

  .jq-selectbox__trigger {
    border: none;
  }

  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 6px;
    height: 11px;
    border: none;
    background-image: url('../images/svg/chevron.svg');
    background-repeat: no-repeat;
    transform: rotate(90deg);
  }
}

.filter {

  &__item {
    background-color: $fill-color;
    border: 1px solid $boxshadow-color;
    border-radius: 5px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    padding: 15px;
  }

  &__block {
    border-top: 1px solid $boxshadow-color;
  }
}

.filter-categories {

  &__list {
    padding: 25px 15px;
  }

  &__item {
    font-size: 18px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &--active {
      color: $accent-color;
    }
  }
}

.filter-offer {

  &__form {
    padding: 25px 16px;
  }

  &__item {
    position: relative;
    font-size: 18px;
    line-height: 1.2;


    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;

    &:focus+.filter-offer__label:before {
      border: 1px solid $accent-color;
    }

    &:checked+.filter-offer__label:before {
      border: 1px solid $title-color;
      content: '';
      display: block;
      background-image: url('../images/svg/checkbox.svg');
      background-repeat: no-repeat;
      background-position: center;
      top: -2px;
    }
  }

  &__label {
    padding-left: 36px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $accent-color;
    }

    &:before {
      content: '';
      width: 24px;
      height: 24px;
      display: block;
      background-color: $input-color;
      border: 1px solid $boxshadow-color;
      border-radius: 3px;
      position: absolute;
      top: -2px;
      left: 0;
      transition: border 0.2s ease-in-out;
    }

    &:hover:before {
      border: 1px solid $accent-color;
    }
  }
}

.filter-price {

  &__form {
    padding: 25px 15px;
  }

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__input-to,
  &__input-from {
    background-color: $input-color;
    border: 1px solid $input-color;
    border-radius: 3px;
    width: 70px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    margin-right: 5px;
    transition: border 0.2s ease-in-out;

    &:focus {
      border: 1px solid $accent-color;
    }
  }

  &__label,
  &__text {
    font-size: 16px;
    line-height: 1.2;
    color: $dots-color;
  }

  &__label {
    margin-right: 5px;
  }
}

.irs--flat .irs-line {
  top: 25px;
  height: 2px;
  background-color: $dots-color;
  border-radius: 0;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 2px;
  background-color: $accent-color;
}

.irs--flat .irs-handle {
  top: 17px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $accent-color;
}

.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-min,
.irs--flat .irs-max,
.irs--flat .irs-single {
  display: none;
}

.discounts {
  margin-bottom: 60px;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__card {
    max-width: 370px;
    width: 100%;
  }

  &__text {
    font-size: 24px;
    background-color: $fill-color;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px 20px;
  }
}

.footer {
  padding-top: 60px;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
  }

  &__box {
    margin-right: 20px;
  }

  &__input {
    display: block;
    font-size: 14px;
    background-color: $fill-color;
    border: 1px solid $dots-color;
    border-radius: 5px;
    padding: 13px 15px;
    margin: 21px 0 12px;
    color: $dots-color;
    transition: box-shadow 0.3s, opacity 0.3s, text-decoration 0.3s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 2px $accent-color;
      border: 1px solid transparent;
    }

    &::placeholder {
      transition: color 0.3s linear;
    }

    &:hover::placeholder {
      color: $title-color;
    }
  }

  &__btn {
    padding: 11px 38px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;

    &:hover,
    &:focus {
      svg {
        fill: $accent-color;
      }
    }
  }

  &__img {
    width: 16.51px;
    height: 15.6px;
    fill: $fill-color;
    margin-right: 15px;
  }

  &__list {
    column-count: 3;
    font-size: 18px;
    margin-right: 15px;
  }

  &__link {
    margin-bottom: 15px;
  }

  &__links {
    font-size: 18px;
  }

  &__copyright {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
    border-top: 1px solid transparent;
    border-color: $dots-color;
    margin: 0 auto;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-right: 80px;


  &__item {
    background-repeat: no-repeat;
    background-position: left;
    background-size: 24px;
    padding-left: 30px;
    margin-bottom: 15px;

    &--location {
      background-image: url('../images/svg/Location.svg');
      background-size: 24px 22px;
    }

    &--calling {
      background-image: url('../images/svg/Calling.svg');
    }

    &--message {
      background-image: url('../images/svg/Message.svg');
      background-size: 24px 20px;
    }

  }

  &__link {
    font-size: 16px;
    line-height: 2.0;
  }

}

.social {
  display: flex;

  &__item {

    &:not(:last-child) {
      margin-right: 13px;
    }

  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: $boxshadow-color;
    transition: box-shadow 0.3s, color 0.3s, background-color 0.3s ease-in-out;

    &:focus {
      background-color: #FFF2ED;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);

      svg {
        fill: $default-color;
      }
    }

    &:hover {
      background-color: $accent-color;

      svg {
        fill: $fill-color;
      }
    }

    &:active {
      background-color: #FFF2ED;

      svg {
        fill: $accent-color;
      }
    }
  }

  &__img {
    fill: $default-color;

    &--facebook {
      width: 9.98px;
      height: 20.53px;
    }

    &--twitter {
      width: 20.53px;
      height: 16.68px;
    }

    &--instagram {
      width: 19.5px;
      height: 19.5px;
    }

  }

}